.page {
  --color-muted: color-mix(in srgb, var(--color-foreground-4) 50%, transparent);
  --td-navbar-color: var(--color-foreground-4);
  --td-input-border-left-space: 0;
  --td-input-label-text-font: var(--td-font-mark-medium);
  --td-input-label-text-color: var(--color-foreground);
  --td-input-suffix-icon-color: var(--color-foreground-4);
  --td-button-medium-height: 44px;
  --td-button-border-radius: 2px;
  --td-checkbox-icon-size: 16px;
  --td-checkbox-title-font: var(--td-font-body-small);
  --td-checkbox-title-line-height: 18px;
  --td-checkbox-title-color: var(--color-muted);
}

.page-content {
  .t-input {
    padding: 16px 0;

    &__extra {
      &::before {
        content: '';
        width: 1px;
        height: 24px;
        background-color: var(--td-component-stroke);
      }

      .send-btn--disabled {
        color: var(--color-muted);
      }
    }

    :deep(.t-input__control) {
      font-size: 20px;
      font-weight: 600;
      color: var(--color-foreground);
      caret-color: var(--color-brand);

      &::placeholder {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-muted);
        letter-spacing: 0;
        transform: translateY(-2px);
      }
    }

    :deep(.t-input--password) {
      letter-spacing: 4px;
    }

    :deep(.t-input__wrap--suffix-icon) {
      font-size: 16px;
    }
  }

  .t-checkbox {
    :deep(.t-checkbox__icon--left) {
      margin-right: 4px;
    }
  }
}