@mixin text($size: null, $weight: null, $style: null, $color: null) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@mixin size($width: null, $height: $width) {
  width: $width;
  height: $height;
}

@mixin position($type: null, $top: null, $bottom: null, $left: null, $right: null) {
  position: $type;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin flex($direction: null, $jc: null, $ai: null, $gap: null, $wrap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-wrap: $wrap;
}