$color-cyan-1: #00feff;
$color-cyan-2: #01c2c3;

$color-white-1: #fafafc;
$color-white-2: #f5f5f7;
$color-white-3: #e8e8ed;
$color-white-4: #d2d2d7;

$color-gray-1: #86868b;
$color-gray-2: #6e6e73;

$color-black-1: #424245;
$color-black-2: #333336;
$color-black-3: #1d1d1f;
$color-black-4: #161617;